In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("data/publications.csv")

In [3]:
df.head()

,Name,Web of Science Documents,Times Cited,Collab-CNCI,Rank,% Docs Cited,Category Normalized Citation Impact,% Documents in Top 1%,% Documents in Top 10%,Documents in Top 1%,Documents in Top 10%,year
0,SWITZERLAND,24154,2705248,0.946748,8,97.93,1.024815,0.89,10.87,97,230,2023
1,CHINA,2185,157320,1.575928,44,99.60,0.900623,2.98,19.26,323,121,2014
2,CHINA,6896,744768,1.032983,42,95.23,1.679004,1.08,11.36,455,662,2013
3,UNITED KINGDOM,2399,177526,1.586585,3,99.21,1.444246,1.63,10.20,98,2463,2005
4,ITALY,10753,301084,0.812773,2,98.35,1.252122,0.81,17.43,440,134,2004

In [4]:
df.columns

Index(['Name', 'Web of Science Documents', 'Times Cited', 'Collab-CNCI',
       'Rank', '% Docs Cited', 'Category Normalized Citation Impact',
       '% Documents in Top 1%', '% Documents in Top 10%',
       'Documents in Top 1%', 'Documents in Top 10%', 'year'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Name                                 1000 non-null   object
 1   Web of Science Documents             1000 non-null   int64
 2   Times Cited                          1000 non-null   int64
 3   Collab-CNCI                          1000 non-null   float64
 4   Rank                                 1000 non-null   int64
 5   % Docs Cited                         1000 non-null   float64
 6   Category Normalized Citation Impact  1000 non-null   float64
 7   % Documents in Top 1%                1000 non-null   float64
 8   % Documents in Top 10%               1000 non-null   float64
 9   Documents in Top 1%                  1000 non-null   int64
 10  Documents in Top 10%                 1000 non-null   int64
 11  year                                 1000 non-null   int64
dtypes: float64(5), int64(6), object(1)
memory usage: 93.9+ KB

In [6]:
df.describe()

,Web of Science Documents,Times Cited,Collab-CNCI,Rank,% Docs Cited,Category Normalized Citation Impact,% Documents in Top 1%,% Documents in Top 10%,Documents in Top 1%,Documents in Top 10%,year
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.000000,1000.000000
mean,14861.699000,1.296497e+06,1.214932,24.722000,97.410690,1.291637,1.76760,17.58979,261.327000,1497.457000,2013.860000
std,8390.150609,9.670633e+05,0.230261,14.108145,1.419199,0.234461,0.71711,4.36310,136.904576,844.902713,6.748477
min,512.000000,2.184600e+04,0.800182,1.000000,95.000000,0.900623,0.50000,10.02000,12.000000,111.000000,2003.000000
25%,7616.750000,5.076700e+05,1.029402,12.000000,96.150000,1.087020,1.13000,13.77000,142.000000,736.750000,2008.000000
50%,14711.000000,1.064920e+06,1.214383,25.000000,97.385000,1.292028,1.81000,17.39000,261.500000,1481.000000,2014.000000
75%,22022.250000,1.899791e+06,1.415986,37.000000,98.652500,1.499628,2.39000,21.64000,382.000000,2202.250000,2020.000000
max,29959.000000,4.327668e+06,1.599646,49.000000,99.890000,1.698257,3.00000,24.99000,499.000000,2999.000000,2025.000000

In [7]:
print(f"\nDataset Shape: {df.shape}")
print(f"   - Rows: {df.shape[0]:,}")
print(f"   - Columns: {df.shape[1]}")

Dataset Shape: (1000, 12)
   - Rows: 1,000
   - Columns: 12

In [8]:
print(f"\nMemory Usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

Memory Usage: 0.14 MB

In [9]:
print("\nColumn Information:")
print(df.dtypes)

Column Information:
Name                                    object
Web of Science Documents                 int64
Times Cited                              int64
Collab-CNCI                            float64
Rank                                     int64
% Docs Cited                           float64
Category Normalized Citation Impact    float64
% Documents in Top 1%                  float64
% Documents in Top 10%                 float64
Documents in Top 1%                      int64
Documents in Top 10%                     int64
year                                     int64
dtype: object

In [10]:
print("\nFirst 5 Rows:")
print(df.head())

First 5 Rows:
             Name  Web of Science Documents  Times Cited  Collab-CNCI  Rank  \
0     SWITZERLAND                     24154      2705248     0.946748     8
1           CHINA                      2185       157320     1.575928    44
2           CHINA                      6896       744768     1.032983    42
3  UNITED KINGDOM                      2399       177526     1.586585     3
4           ITALY                     10753       301084     0.812773     2

   % Docs Cited  Category Normalized Citation Impact  % Documents in Top 1%  \
0         97.93                             1.024815                   0.89
1         99.60                             0.900623                   2.98
2         95.23                             1.679004                   1.08
3         99.21                             1.444246                   1.63
4         98.35                             1.252122                   0.81

   % Documents in Top 10%  Documents in Top 1%  Documents in Top 10%  year
0                   10.87                   97                   230  2023
1                   19.26                  323                   121  2014
2                   11.36                  455                   662  2013
3                   10.20                   98                  2463  2005
4                   17.43                  440                   134  2004

In [11]:
print("\nLast 5 Rows:")
print(df.tail())

Last 5 Rows:
               Name  Web of Science Documents  Times Cited  Collab-CNCI  Rank  \
995  UNITED KINGDOM                     22195      2130720     1.276037    46
996          BRAZIL                     27344      1832048     1.565469    42
997     SWITZERLAND                     14360      1033920     0.853179    44
998     SWITZERLAND                      5423       591107     0.838366     8
999           CHINA                     23053      2996890     1.135270    36

     % Docs Cited  Category Normalized Citation Impact  % Documents in Top 1%  \
995         97.97                             0.971705                   2.90
996         99.16                             1.577030                   1.39
997         96.86                             1.258788                   2.95
998         97.80                             1.508564                   0.87
999         96.31                             1.458377                   0.50

     % Documents in Top 10%  Documents in Top 1%  Documents in Top 10%  year
995                   20.73                  274                  1803  2024
996                   22.49                  143                  1514  2020
997                   15.25                  224                   830  2005
998                   18.58                  151                   707  2014
999                   23.07                  214                  2073  2014

In [33]:
missing_data = pd.DataFrame({
    'Column': df.columns,
    'Missing_Count': df.isnull().sum(),
    'Missing_Percentage': (df.isnull().sum() / len(df) * 100).round(2),
    'Data_Type': df.dtypes
})

In [34]:
missing_data

,Column,Missing_Count,Missing_Percentage,Data_Type
Name,Name,0,0.0,object
Web of Science Documents,Web of Science Documents,0,0.0,int64
Times Cited,Times Cited,0,0.0,int64
Collab-CNCI,Collab-CNCI,0,0.0,float64
Rank,Rank,0,0.0,int64
% Docs Cited,% Docs Cited,0,0.0,float64
Category Normalized Citation Impact,Category Normalized Citation Impact,0,0.0,float64
% Documents in Top 1%,% Documents in Top 1%,0,0.0,float64
% Documents in Top 10%,% Documents in Top 10%,0,0.0,float64
Documents in Top 1%,Documents in Top 1%,0,0.0,int64
Documents in Top 10%,Documents in Top 10%,0,0.0,int64
year,year,0,0.0,int64

In [35]:
missing_data = missing_data[missing_data['Missing_Count'] > 0].sort_values('Missing_Percentage', ascending=False)

In [36]:
print(missing_data if len(missing_data) > 0 else " No missing values found!")

 No missing values found!

In [37]:
duplicates = df.duplicated().sum()
print(f"\nDuplicate Rows: {duplicates} ({(duplicates/len(df)*100):.2f}%)")

Duplicate Rows: 0 (0.00%)

In [16]:
print("\n Data Types Distribution:")
print(df.dtypes.value_counts())

 Data Types Distribution:
int64      6
float64    5
object     1
Name: count, dtype: int64

In [17]:
print("COLUMN-WISE ANALYSIS")

COLUMN-WISE ANALYSIS

In [18]:
numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()
print(f"\nNumerical Columns ({len(numerical_cols)}): {numerical_cols}")

Numerical Columns (11): ['Web of Science Documents', 'Times Cited', 'Collab-CNCI', 'Rank', '% Docs Cited', 'Category Normalized Citation Impact', '% Documents in Top 1%', '% Documents in Top 10%', 'Documents in Top 1%', 'Documents in Top 10%', 'year']

In [19]:
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print(f" Categorical Columns ({len(categorical_cols)}): {categorical_cols}")

 Categorical Columns (1): ['Name']

In [20]:
print(df[numerical_cols].describe().T)
    
    
print("\nAdditional Numerical Metrics:")
# for col in numerical_cols:
#     print(f"\n{col}:")
#     print(f"  - Zeros: {(df[col] == 0).sum()} ({(df[col] == 0).sum()/len(df)*100:.2f}%)")
#     print(f"  - Negatives: {(df[col] < 0).sum()}")
#     print(f"  - Unique Values: {df[col].nunique()}")
#     print(f"  - Skewness: {df[col].skew():.2f}")
#     print(f"  - Kurtosis: {df[col].kurtosis():.2f}")

                                      count          mean            std  \
Web of Science Documents             1000.0  1.486170e+04    8390.150609
Times Cited                          1000.0  1.296497e+06  967063.253287
Collab-CNCI                          1000.0  1.214932e+00       0.230261
Rank                                 1000.0  2.472200e+01      14.108145
% Docs Cited                         1000.0  9.741069e+01       1.419199
Category Normalized Citation Impact  1000.0  1.291637e+00       0.234461
% Documents in Top 1%                1000.0  1.767600e+00       0.717110
% Documents in Top 10%               1000.0  1.758979e+01       4.363100
Documents in Top 1%                  1000.0  2.613270e+02     136.904576
Documents in Top 10%                 1000.0  1.497457e+03     844.902713
year                                 1000.0  2.013860e+03       6.748477

                                              min            25%  \
Web of Science Documents               512.000000    7616.750000
Times Cited                          21846.000000  507670.000000
Collab-CNCI                              0.800182       1.029402
Rank                                     1.000000      12.000000
% Docs Cited                            95.000000      96.150000
Category Normalized Citation Impact      0.900623       1.087020
% Documents in Top 1%                    0.500000       1.130000
% Documents in Top 10%                  10.020000      13.770000
Documents in Top 1%                     12.000000     142.000000
Documents in Top 10%                   111.000000     736.750000
year                                  2003.000000    2008.000000

                                              50%           75%           max
Web of Science Documents             1.471100e+04  2.202225e+04  2.995900e+04
Times Cited                          1.064920e+06  1.899791e+06  4.327668e+06
Collab-CNCI                          1.214383e+00  1.415986e+00  1.599646e+00
Rank                                 2.500000e+01  3.700000e+01  4.900000e+01
% Docs Cited                         9.738500e+01  9.865250e+01  9.989000e+01
Category Normalized Citation Impact  1.292028e+00  1.499628e+00  1.698257e+00
% Documents in Top 1%                1.810000e+00  2.390000e+00  3.000000e+00
% Documents in Top 10%               1.739000e+01  2.164000e+01  2.499000e+01
Documents in Top 1%                  2.615000e+02  3.820000e+02  4.990000e+02
Documents in Top 10%                 1.481000e+03  2.202250e+03  2.999000e+03
year                                 2.014000e+03  2.020000e+03  2.025000e+03

Additional Numerical Metrics:

In [21]:
print(f"\n Temporal Coverage:")
print(f"   - Year Range: {df['year'].min()} to {df['year'].max()}")
print(f"   - Total Years: {df['year'].nunique()}")

 Temporal Coverage:
   - Year Range: 2003 to 2025
   - Total Years: 23

In [22]:
print(f"\n Geographic Coverage:")
print(f"   - Unique Countries: {df['Name'].nunique()}")
print(f"   - Countries: {sorted(df['Name'].unique())}")

 Geographic Coverage:
   - Unique Countries: 17
   - Countries: ['AUSTRALIA', 'BRAZIL', 'CANADA', 'CHINA', 'ENGLAND', 'FRANCE', 'GERMANY', 'INDIA', 'ITALY', 'JAPAN', 'NETHERLANDS', 'SOUTH KOREA', 'SPAIN', 'SWEDEN', 'SWITZERLAND', 'UNITED KINGDOM', 'USA']

In [23]:
print(df['Name'].value_counts())

Name
SPAIN             69
BRAZIL            68
SWITZERLAND       65
CANADA            65
CHINA             65
AUSTRALIA         60
JAPAN             59
FRANCE            59
USA               58
SWEDEN            57
INDIA             56
UNITED KINGDOM    55
ITALY             55
SOUTH KOREA       55
GERMANY           54
ENGLAND           52
NETHERLANDS       48
Name: count, dtype: int64

In [24]:
print(df['year'].value_counts().sort_index())

year
2003    49
2004    44
2005    45
2006    44
2007    51
2008    45
2009    35
2010    48
2011    48
2012    46
2013    32
2014    44
2015    42
2016    46
2017    42
2018    33
2019    50
2020    41
2021    36
2022    34
2023    51
2024    47
2025    47
Name: count, dtype: int64

In [25]:
print(f"\nCountry-Year Analysis:")
country_year_counts = df.groupby('Name')['year'].count()
print(f"   - Average records per country: {country_year_counts.mean():.1f}")
print(f"   - Min records: {country_year_counts.min()}")
print(f"   - Max records: {country_year_counts.max()}")

Country-Year Analysis:
   - Average records per country: 58.8
   - Min records: 48
   - Max records: 69

In [26]:
impact_metrics = [
    'Times Cited',
    'Category Normalized Citation Impact',
    'Collab-CNCI',
    '% Docs Cited',
    '% Documents in Top 1%',
    '% Documents in Top 10%'
]

In [27]:
print(df[impact_metrics].describe())

        Times Cited  Category Normalized Citation Impact  Collab-CNCI  \
count  1.000000e+03                          1000.000000  1000.000000
mean   1.296497e+06                             1.291637     1.214932
std    9.670633e+05                             0.234461     0.230261
min    2.184600e+04                             0.900623     0.800182
25%    5.076700e+05                             1.087020     1.029402
50%    1.064920e+06                             1.292028     1.214383
75%    1.899791e+06                             1.499628     1.415986
max    4.327668e+06                             1.698257     1.599646

       % Docs Cited  % Documents in Top 1%  % Documents in Top 10%
count   1000.000000             1000.00000              1000.00000
mean      97.410690                1.76760                17.58979
std        1.419199                0.71711                 4.36310
min       95.000000                0.50000                10.02000
25%       96.150000                1.13000                13.77000
50%       97.385000                1.81000                17.39000
75%       98.652500                2.39000                21.64000
max       99.890000                3.00000                24.99000